---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';

import counceling_logo from '../assets/counselling-logo.jpg';
import counceling_stock from '../assets/counselling-stock_01.jpg';
import contact_us from '../assets/contact-us-image.jpg';
---

<Layout>
	<Header />
<!-- BEGIN MAIN -->
    <main class="main">
        <div class="container text-center">
            <img class="logo" src={counceling_logo.src} alt="counselling logo">
        </div>
        <div class="container text-center">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                ut aliquip ex ea commodo consequat.
            </p>
            <p>
                Duis aute irure dolor in reprehenderit in 
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit 
                anim id est laborum.
            </p>
        </div>
        <div class="container text-center">
        <div class="row">
            <div class="col">
            <img class="counceling-stock" src={counceling_stock.src}/>
            </div>
            <div class="col">
            <p class="col-text">
                SERVICES
            </p>
            <p class="col-text">
                Find out about what services we offer.
            </p>
            <p class="col-text">
                <a class="btn btn-outline-dark" href="pages/services.html">LEARN MORE</a>
            </p>
            </div>
        </div>
        </div>
        <div class="container text-center">
        <div class="row">
            <div class="col">
            <p class="col-text">
                CONTACT US
            </p>
            <p class="col-text">
                Scheduling is easy, contact us to make an appointment.
            </p>
            <p class="col-text">
                <a class="btn btn-outline-dark" href="pages/contact.html">SCHEDULE NOW</a>
            </p>
            </div>
            <div class="col">
            <img class="contact-us" src={contact_us.src}/>
            </div>
        </div>
        </div>
    </main>
	<Footer />
</Layout>
