---
import wordcounter from '../assets/WordCounterWidget.png';
---

<div class="applications">
    <div class="mt-2">
        <h4>
            Applications
        </h4>
        <p>
            A collections of desktop mobile and web applications.
        </p>
        <div>
            <a href="https://github.com/Phlegmlee/WordCounter" target="_blank">
            <img src={wordcounter.src} width="550" height="165"/>
            </a>
        </div>
    </div>
</div>