<div class="applications">
    <div class="mt-2">
        <h4>
            Game Prototypes
        </h4>
        <p>
            A collection of small projects made to test ideas. Not full games.
        </p>
        <div>
            <iframe src="https://github.com/Phlegmlee/WordCounter" width="550" height="165"></iframe>
        </div>
    </div>
</div>