<div class="games">
    <div class="mt-2">
        <h4>
            Game Prototypes
        </h4>
        <p>
            A collection of small projects made to test ideas. Not full games.
        </p>
        <div>
            <iframe src="https://itch.io/embed/2805998?linkback=true&amp;border_width=0&amp;bg_color=000000&amp;fg_color=ffffff&amp;link_color=ffffff&amp;border_color=333333" width="206" height="165"></iframe>
            <iframe src="https://itch.io/embed/2418375?linkback=true&amp;border_width=0&amp;bg_color=000000&amp;fg_color=ffffff&amp;link_color=ffcb49&amp;border_color=333333" width="206" height="165"></iframe>
            <iframe src="https://itch.io/embed/3231057?linkback=true&amp;border_width=0&amp;bg_color=000000&amp;fg_color=708c6a&amp;link_color=63c64d&amp;border_color=415647" width="206" height="165"></iframe>
        </div>
    </div>
</div>
<div class="games">
    <div class="mt-2">
        <h4>
            Game Jam Prototypes
        </h4>
        <p>
            A collection of small projects made during game jams. Short crunch sessions normally less than 7 days.
        </p>
        <div>
            <iframe src="https://itch.io/embed/3287774?linkback=true&amp;border_width=0&amp;bg_color=000000&amp;fg_color=bce3e6&amp;link_color=00bdc9&amp;border_color=333333" width="206" height="165"></iframe>
            <iframe src="https://itch.io/embed/3280375?linkback=true&amp;border_width=0&amp;bg_color=000000&amp;fg_color=ffffff&amp;link_color=8a8a8a&amp;border_color=363636" width="206" height="165"></iframe>
            <iframe src="https://itch.io/embed/2987477?linkback=true&amp;border_width=0&amp;bg_color=000000&amp;fg_color=fafbf6&amp;link_color=565a75&amp;border_color=3e3e4a" width="206" height="165"></iframe>
        </div>
    </div>
</div>