---
import logo from '../assets/Phlegm.png';
---

<!-- Begin Header -->
<header>
    <div class="header">
        <a href="/">
        <img class="logo" src={logo.src}>
        </a>
    </div>
</header>